.grid-container {
color: white;
position: relative;
margin-left:0;
align-items: center;
text-align: center;
}

h1, h2{
    margin:10px;
    padding: 10px;
}
body{
    background-color: rgb(0, 0, 0);
    margin:0%;
}
b{
    color: rgb(219, 79, 79);
}
p{
    font-size: 14px;
}
div{
    background-color: rgba(0, 0, 0, 0.589);
    align-items: center;
    text-align: center; 
}
.grid-container2 {
    align-items: center;
    text-align: center; 
    width: 50%;
    align-content: center;
    flex-wrap: nowrap;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}
  .grid-container3 {
    position: relative;
    align-items: center;
    text-align: center; 
    color:rgb(255, 255, 255);
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
  }
  .grid-container4 {
    position: relative;
    align-items: center;
    text-align: center;
    margin:0%;
    margin-top: 2%; 
    margin-bottom: 2%;
    justify-content: space-around;
    background-color: rgb(34, 34, 34);
    border: rgb(255, 0, 0) solid 2px;
  }

  #floatBar
  {  
    left: 0;
     top: 0;
     z-index: 100;
     display: flex;
     justify-content: flex-start;
     background-color: rgba(0, 0, 0, 0.253);
    
 }
 #floatBar p
  {
    margin-top: 0px;
    color: rgb(255, 255, 255);
    font-size: 18px;
 }
 #floatBar div {
    height: 30px;
    width: 100%;
    background: rgba(255, 0, 0, 0);
    margin-left: 70px;
    
}
#floatBar > a:hover{
    background:rgb(255, 0, 0);
  }
  a:link, a:visited {
    background-color: #000000;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }