.grid-container {
color: white;
position: relative;
margin-left:0;
align-items: center;
text-align: center;
}
h1, h2{
    margin:10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.137);
}
body{
    background-color: rgb(36, 36, 36);
}
b{
    color: rgb(219, 79, 79);
}
p{
    font-size: 14px;
}
div{
    background-color: rgba(0, 0, 0, 0.589);
    align-items: center;
    text-align: center; 
}
.grid-container2 {
    align-items: center;
    text-align: center; 
    width: 50%;
    align-content: center;
    flex-wrap: nowrap;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}
  .grid-container3 {
    position: relative;
    align-items: center;
    text-align: center; 
    color:rgb(255, 255, 255);
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
  }

 